.hljs-comment,
.hljs-quote {
  color: #929f84;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #7c769c;
}
.hljs-string,
.hljs-doctag {
  color: #678a58;
}
.hljs-number,
.hljs-literal {
  color: #aa8552;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #627f94;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #a89353;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #7b9567;
}
.hljs-variable,
.hljs-template-variable {
  color: #ac826a;
}
.hljs-regexp,
.hljs-link {
  color: #648d82;
}
.hljs-symbol,
.hljs-bullet {
  color: #9780a4;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #7b96a1;
}
.hljs-meta {
  color: #9c967f;
}
.hljs-deletion {
  background: #fce9e5;
}
.hljs-addition {
  background: #e8f1df;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
